*.pyc
.DS_STORE
*.swp
/venv/
/static/
/media/
.env
.env.tmp
*.sqlite3
/node_modules/
package-lock.json
.vscode/
/.venv/
/.idea/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
