{% load wagtailimages_tags %}

<div id="imageCarousel" class="carousel slide image-carousel-block" data-ride="carousel">
    <div class="carousel-inner">
        {% for slide in self.slides %}
            {% image slide.image width-600 as image %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="w-100 d-flex justify-content-center">
                    <div>
                        <figure class="figure">
                            <img class="figure-img img-fluid rounded" src="{{ image.url }}" alt="{{ image.alt }}">
                            {% if slide.caption %}
                            <figcaption class="figure-caption">{{ slide.caption }}</figcaption>
                            {% endif %}
                        </figure>
                        {% if self.show_download_links %}
                            <div class="text-center">
                                <a href="{{ image.url }}" class="btn btn-outline-info btn-sm">Download <i class="fas fa-download"></i></a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#imageCarousel" role="button" data-slide="prev">
        <i class="fas fa-chevron-circle-left"></i>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#imageCarousel" role="button" data-slide="next">
        <i class="fas fa-chevron-circle-right"></i>
        <span class="sr-only">Next</span>
    </a>
</div>