{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks user_tags %}

{% block title %}{% trans "Thank You - Please set your password" %}{% endblock %}

{% block content %}

<section class="min-height">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">

                <div class="card welcome-card">
                    <div class="card-body">
                        <h3 class="text-center">Oops! Something went wrong.</h3>
                        <p class="text-center">{{ error_message }}</p>
                    </div>
                </div>
                <p class="text-center mt-4">
                    <a href="{{ cta_link }}" class="btn btn-lg btn-primary">{{ cta_message }}</a>
                </p>
        </div>
    </div>
</section>

{% endblock %}

{% block extra_js %}
<script>
$('#updateInfoBtn').on('click', function() {
    var tlForm = gsap.timeline()
    var tlName = gsap.timeline()
    var tlEmail = gsap.timeline()

    tlForm.to('#updateInfoBtn', {
        autoAlpha: 0,
        duration: .1,
    }).to('#updateInfoBtn', {
        className: 'd-none',
    })

    tlName.to('#clientName', {
        autoAlpha: 0,
        duration: .2,
    }).to('#clientName', {
        className: 'd-none',
    }).to('#exPoint', {
        autoAlpha: 1,
        duration: .2,
    })

    tlEmail.to('#clientEmail', {
        autoAlpha: 0,
        duration: .2,
    })
})
</script>
{% endblock extra_js %}