{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks user_tags %}

{% block title %}{% trans "Thank You - Please set your password" %}{% endblock %}

{% block content %}

<section class="min-height">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form method="post" action="{% url 'thank_you_set_password' %}">
                    {% csrf_token %}
                    <div class="card welcome-card">
                        <div class="card-body">
                            <h3>Welcome<span id="clientName">, {{first_name}} {{last_name}}!</span><span id="exPoint" style="opacity: 0; visibility: hidden;">!</span></h3>
                            <p id="clientEmail"><em>{{ email }}</em></p>
                            <p>Thank you for your purchase! To gain instant access to your exclusive content, please check that your name and email are correct and then choose a secure password.</p>
                            <div class="collapse" id="updateInfo">
                                <div class="form-row">
                                    <div class="col-6">
                                        <label for="{{ form.first_name.id_for_label }}">First name</label>
                                        {{ form.first_name.errors }}
                                        {{ form.first_name|add_class:"form-control" }}
                                    </div>
                                    <div class="col-6">
                                        <label for="{{ form.last_name.id_for_label }}">Last name</label>
                                        {{ form.last_name.errors }}
                                        {{ form.last_name|add_class:"form-control" }}
                                    </div>
                                </div>
                                <div class="form-row mt-2">
                                    <div class="col-12">
                                        <label for="{{ form.email.id_for_label }}">Email address</label>
                                        {{ form.email.errors }}
                                        {{ form.email|add_class:"form-control" }}
                                    </div>
                                </div>
                            </div>
                            <a id="updateInfoBtn" href="#updateInfo" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="updateInfo" class="card-link mt-3">Not your info?</a>
                            <div class="form-row mt-3 mb-2">
                                <div class="col-12">
                                    <label for="{{ form.password.id_for_label }}"><strong class="text-primary">Please choose a secure password</strong></label>
                                    {{ form.password.errors }}
                                    {{ form.password|add_class:"form-control" }}
                                    {% comment %} <label class="d-none" for="{{ form.transaction_id.id_for_label }}"></label> {% endcomment %}
                                    {{ form.transaction_id }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center mt-4">
                        <button class="btn btn-primary btn-lg" type="submit">{% trans "Get Access!" %}</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block extra_js %}
<script>
$('#updateInfoBtn').on('click', function() {
    var tlForm = gsap.timeline()
    var tlName = gsap.timeline()
    var tlEmail = gsap.timeline()

    tlForm.to('#updateInfoBtn', {
        autoAlpha: 0,
        duration: .1,
    }).to('#updateInfoBtn', {
        className: 'd-none',
    })

    tlName.to('#clientName', {
        autoAlpha: 0,
        duration: .2,
    }).to('#clientName', {
        className: 'd-none',
    }).to('#exPoint', {
        autoAlpha: 1,
        duration: .2,
    })

    tlEmail.to('#clientEmail', {
        autoAlpha: 0,
        duration: .2,
    })
})
</script>
{% endblock extra_js %}