{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "500 Internal server error" %}{% endblock %}

{% block content %}
    <section class="min-height">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card card-body m-5">
                        <h1>500 Internal server error</h1>
                        <p>Sorry, there seems to be an error. Please try again soon.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

