{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static subscribers_tags %}

{% block title %} Self-Advocate Audaciously - The Program {% endblock title %}

{% block extra_css %}

{% endblock %} 

{% block content %}
<script>
    fbq('track', 'ViewContent');
</script>
<section class="advocate-aud">
    <div class="nav-spacer"></div>
    <div class="offer-title p-2">
        <h5 class="text-center text-white m-0">Self-Advocate Audaciously</h5>
    </div>
    <img src="https://at-heroku-s3.s3.amazonaws.com/images/advocate-audaciously-header.original.jpg" alt="" class="img-fluid">
</section>

<section class="sp-intro">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-7 d-flex align-items-center">
                <div class="intro-copy">
                    <h2>HOW’S ABOUT WE CHANGE THAT?</h2>
                    <p>Do you struggle with any of the below?</p>
                    <ul>
                        <li>Confronting a romantic partner when they have said things that hurt you</li>
                        <li>Declaring your true values and beliefs to a friend</li>
                        <li>Setting a boundary with a family member that keeps pestering you</li>
                        <li>Asking for a raise in the workplace</li>
                    </ul>
                    <p>You are not alone. Self Advocate Audaciously is a ground-level program to kickstart your self-reverence&trade; and teach you the tools to start declaring your needs &mdash; AUDACIOUSLY!</p>
                </div>
            </div>
            <div class="col-md-5 d-flex justify-content-center align-items-start">
                <div class="bio-feat rounded">
                    <div class="bio-img">
                        <img class="img-fluid rounded" src="https://at-heroku-s3.s3.amazonaws.com/images/at-bio-pic.original.jpg" alt="Image of Alexandria Thibodeaux">
                    </div>
                    <div class="bio-text">
                        <p class="mb-0"><strong>Alexandria Thibodeaux</strong></p>
                        <p>The Boundary Badass&trade;</p>
                        <p class="mb-0"><em>Interpersonal Communication Consultant</em></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sp-cta py-5">
    <div class="section-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center text-white">
                <h4 class="text-white">So what’s stopping you from advocating for yourself to your friends, your family, your partner, your boss, or your colleagues so can assert your needs and live in peace &amp; integrity?</h4>
                <p class="text-white mt-4">Probably a lack of clear direction and a lack of self-understanding.<br> Don’t worry. That’s where Self-Advocate Audaciously comes in.</p>
                <a href="#pay" class="btn btn-secondary mt-3 btn-shadow">Start Now</a>
            </div>
        </div>
    </div>
</section>

<section class="introducing py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="" src="https://at-heroku-s3.s3.amazonaws.com/images/ben-kolde-FaPxZ88yZrw-unsplash.original.jpg" alt="">
            </div>
            <div class="col-md-8">
                <h4>Introducing: Self-Advocate Audaciously</h4>
                <h2 class="mt-3">A Program + Community for Developing the Skills to Self-Advocate Consistently</h2>
                <p>Self-advocate audaciously will take you from uncertain &amp; overwhelmed to self-advocating with specific guidance and actionable deadlines along the way. In 9 impactful modules, you’ll learn all you need to know to have to audacity to self-advocate
                    and get what you want, what you need, and to preserve your integrity and protect your&nbsp;peace.</p>
                <p>This program is not a live course, meaning this program does not include live teachings/lessions. You can purchase this product at any time and go through it at your own pace at any time.</p>
            </div>
        </div>
    </div>
</section>

<section class="allathis">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="my-5">
                    <h3 class="mb-3">What’s so great about self-advocating with consistency? All'a this:</h3>
                    <div class="number-group d-flex">
                        <div class="number-icon">
                            <div class="d-flex align-items-center justify-content-center w-100 h-100">
                                <span>1</span>
                            </div>
                        </div>
                        <div class="number-text">
                            <h5>A secure sense of self</h5>
                            <p>that nurtures &amp; maintains confidence &amp; assurance in advocating for and asserting yourself.</p>
                        </div>
                    </div>
                    <div class="number-group d-flex">
                        <div class="number-icon">
                            <div class="d-flex align-items-center justify-content-center w-100 h-100">
                                <span>2</span>
                            </div>
                        </div>
                        <div class="number-text">
                            <h5>Aligned interpersonal relationships</h5>
                            <p>that are more mutually fulfilling, comfortable, and joyful.</p>
                        </div>
                    </div>
                    <div class="number-group d-flex">
                        <div class="number-icon">
                            <div class="d-flex align-items-center justify-content-center w-100 h-100">
                                <span>3</span>
                            </div>
                        </div>
                        <div class="number-text">
                            <h5>More freedom, autonomy, and peace in your relationships</h5>
                            <p>and in turn, in your quality of life and well-being.</p>
                        </div>
                    </div>
                    <div class="number-group d-flex">
                        <div class="number-icon">
                            <div class="d-flex align-items-center justify-content-center w-100 h-100">
                                <span>4</span>
                            </div>
                        </div>
                        <div class="number-text">
                            <h5>Getting what you want and getting your needs met</h5>
                            <p>so you are not dismissed, ignored, and unfulfilled.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="thiscourse py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <p>In this program, you will learn and take action on my effective strategy for self-advocating with clarity, integrity, and assurance that not only creates a secure sense of self to allow for you to self-advocate, but also provides valuable
                    and unparalleled skills to self-advocate with effective communication. That means more mutual understanding, more empathy, and more peace between you and members of your communities. It also means less confusion, stress, and overwhelm
                    when communicating with and existing in community with your people. And THAT means no more shrinking yourself for the comfort and convenience of others.</p>
                <p class="mb-0">Abundance is your birthright! And you’ve got to advocate for yourself to claim it!</p>
            </div>
        </div>
    </div>
</section>

<section id="pay" class="introducing cta py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <h2 class="mt-3 text-center">Interested in making it happen for yourself?</h2>
                <h4 class="text-center mb-5">Enrollment for January 15, 2022 is now open, pre-order now!</h4>
                <div id="smart-button-container">
                    <div style="text-align: center;">
                        <div id="paypal-button-container"></div>
                    </div>
                </div>
                <script src="https://www.paypal.com/sdk/js?client-id={{ paypal_client_id }}&enable-funding=venmo&currency=USD" data-sdk-integration-source="button-factory"></script>
                <script>
                    function initPayPalButton() {
                        paypal.Buttons({
                            style: {
                                shape: 'rect',
                                color: 'silver',
                                layout: 'vertical',
                                label: 'buynow',

                            },

                            createOrder: function(data, actions) {
                                return actions.order.create({
                                    purchase_units: [{
                                        "description": "Self-Advocate Audaciously - The Program",
                                        "amount": {
                                            "currency_code": "USD",
                                            "value": 800
                                        }
                                    }]
                                });
                            },

                            onApprove: function(data, actions) {
                                return fetch('/payments/capture-paypal-transaction/', {
                                        method: 'POST',
                                        credentials: 'same-origin',
                                        headers: {
                                            'Accept': 'application/json',
                                            'X-Requested-With': 'XMLHttpRequest',
                                            'X-CSRFToken': csrftoken,

                                        },
                                        body: JSON.stringify({
                                            orderID: data.orderID
                                        })
                                    })
                                    .then(response => response.json())
                                    .then(data => {
                                        actions.redirect("http://{{ request.get_host }}{% url 'congrats_youre_in' %}?status=" + data.status + "&transaction_id=" + data.transaction_id);
                                    })
                            },

                            onError: function(err) {
                                console.log(err);
                            }
                        }).render('#paypal-button-container');
                    }
                    initPayPalButton();
                </script>
            </div>
        </div>
    </div>
</section>

<section class="examples bg-primary">
    <div class="container py-5">
        <div class="row">
            <div class="col-12">
                <h2 class="text-white text-center">How I've Helped Others on Social</h2>
            </div>
        </div>
        <div class="row">
            <div id="socialCarousel" class="carousel slide w-100 h-100" data-ride="carousel0" data-interval="false">
                <ol class="carousel-indicators">
                    <li data-target="#socialCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#socialCarousel" data-slide-to="1"></li>
                    <li data-target="#socialCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner h-100">
                    <div class="carousel-item active">
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="post-wrapper px-md-5 py-3 mx-md-5 mx-3">
                                <div class="card post-example rounded-xl my-3">
                                    <div class="card-body">
                                        <div class="post-user d-flex mb-3">
                                            <div class="post-img-wrapper mr-2">
                                                <i class="fas fa-user"></i>
                                            </div>
                                            <div class="post-name">
                                                Anonymous User
                                            </div>
                                        </div>
                                        <div class="post-content">
                                            <p class="m-0">Hey everyone you came at a perfect time in my life. My common-law partner of 5 years broke up with me 2 weeks ago, without any warning or communication before hand. We were still planning our lives together.
                                                We still have to share a bathroom in HIS parents house. He was my support so I have no income, no bank account, no car, no place to live, no friends to rely on or stay with, no family here, and we share
                                                most of our friends. Which have recently shown I can’t trust them with this, and they’ve taken to supporting him instead. Another layer is he has blamed me for his own unhappiness and choices during the
                                                last 2 years of Covid. He’s begun to speak negatively about the details of our separation to our friends which further isolates me from community. On top of that he’s been catching feelings for someone in
                                                another city who he refers to as his “bestie” leading up to the break up and even texted each other the day we broke up and made plans to hook up when he went on vacation this week. It’s been 2 weeks. He’s
                                                portraying that I’m exhausting him, and expects me to be mutual or over it within the first 3 days. All while telling me cares but not helping me through this at all. It’s been a lot of hurt to process so
                                                suddenly. This was my best friend. He’s acting like a teenager now. Not taking any accountability or care. I have to talk to him again, to get him to at least stop talking about me in a negative light, but
                                                i’m not sure how to get him to feel or listen at this point. It’s a small community and it’s very isolating. X</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card post-example post-response rounded-xl my-3 mx-md-5 mx-3">
                                    <div class="card-body">
                                        <div class="post-user d-flex mb-3">
                                            <img src="https://at-heroku-s3.s3.amazonaws.com/images/at-social-round.original.png" alt="Alexandria Thibodeaux" class="post-img mr-2">
                                            <div class="post-name">
                                                Alexandria Thibodeaux
                                            </div>
                                        </div>
                                        <div class="post-content">
                                            <p>I’m so sorry this is your current experience — I am holding space for you. ❤️</p>
                                            <p>Here’s how I would approach and navigate the conversation with your ex:</p>
                                            <div class="block-quote">
                                                <p>“Hey, John. I know that you are feeling liberated from our relationship and you are allowed to feel that way. With that said, the actions you have taken to suddenly &amp; abruptly end our five year relationship
                                                    have truly devastated me. This process of grieving our relationship is and will continue to be much harder on me than it is on you. And I ask that while you continue to create this new life for yourself,
                                                    that you please don’t say disparaging things about me to our mutual friends. When you do this, it hurts me even more and makes the process of grieving the loss of our shared life unnecessarily cruel
                                                    because it isolates me from community during this intensely difficult time to me. I need to heal and I ask that you please allow me to do that by seeking support from friends. My intention is not to
                                                    disparage you to our friends, but to simply have a community with which to support my grieving of our ended partnership.”</p>
                                            </div>
                                            <p>In regards to wanting connection with the these friends: you do not want those people as your friends — they are not aligned with you.</p>
                                            <p>The company you keep are a reflection of your values, beliefs, priorities, and love of self — nurture that aligned community intentionally. Our community also significantly affects our well being &amp; quality of
                                                life.</p>
                                            <p>Of these people have already pledged allegiance to someone who has caused you tremendous hurt and likely trauma, they are not your people.</p>
                                            <p class="m-0">You are worthy of a community who will hear you, see you, support you, and champion you.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card post-example post-praise rounded-xl my-3 mx-md-5 mx-3">
                                    <div class="card-body">
                                        <div class="post-user d-flex mb-3">
                                            <div class="post-img-wrapper mr-2">
                                                <i class="fas fa-user"></i>
                                            </div>
                                            <div class="post-name">
                                                Anonymous User
                                            </div>
                                        </div>
                                        <div class="post-content">
                                            <p class="m-0">Oh my thank you so much for doing this emotional labour for me right now. Writing this out for me to kind've relay is so helpful and takes one more task off my back. Thank you so much.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="post-wrapper px-md-5 py-3 mx-md-5 mx-3">
                                <div class="card post-example rounded-xl my-3">
                                    <div class="card-body">
                                        <div class="post-user d-flex mb-3">
                                            <div class="post-img-wrapper mr-2">
                                                <i class="fas fa-user"></i>
                                            </div>
                                            <div class="post-name">
                                                Anonymous User
                                            </div>
                                        </div>
                                        <div class="post-content">
                                            <p class="m-0">Does anyone else have a completely differnt love language to their partner? Or has done in the past? I'm someone who really needs quality time and physical touch (attention basically) but despite discussing
                                                this with my boyfriend multiple times, it's like he's not even making an effort to try! Does anyone have any advice on how else to approach this with him, without resulting in an argument?</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card post-example post-response rounded-xl my-3 mx-md-5 mx-3">
                                    <div class="card-body">
                                        <div class="post-user d-flex mb-3">
                                            <img src="https://at-heroku-s3.s3.amazonaws.com/images/at-social-round.original.png" alt="Alexandria Thibodeaux" class="post-img mr-2">
                                            <div class="post-name">
                                                Alexandria Thibodeaux
                                            </div>
                                        </div>
                                        <div class="post-content">
                                            <p>Start the conversation off light and breezy, in a way that doesn’t express or insinuate a hard or uncomfortable conversation.</p>
                                            <p>Here’s how I would approach and navigate this conversation:</p>
                                            <div class="block-quote">
                                                <p>“Hey boo! I love us and I’m so grateful we’re together. 😊</p>
                                                <p>And in this loving relationship, I want to ensure that we are loving each other in ways that serve both ourselves and the other person.</p>
                                                <p>Because it’s important to me that I’m loving you in ways that are in alignment with you, in the ways that you want and need. And I want the same from you.</p>
                                                <p>And I bring this up because in my experience, when I share with you my love language, so the ways I want and need to be loved, the ways that align with me, I feel as though you aren’t internalizing my words
                                                    and making efforts to take action in loving me in the ways I’ve expressed to you I want to be loved.</p>
                                                <p>And I want to understand your perspective on this too. And before we get there I want to say that if showing me love in my love language doesn’t serve you, if it strains you or bothers you in any way, if
                                                    you feel like you’re compromising parts of yourself to love me in these ways, I want you to please let me know because this relationship is a two-way street and we need to understand each other and understand
                                                    each other‘s experiences to continue nurturing our relationship.</p>
                                                <p>Because the truth is: love is not compromise, love is alignment. And I want us to be in alignment with each other. And I want to make sure that we share that same value.”</p>
                                            </div>
                                            <p class="m-0">Then get his perspective on the matter and continue a productive dialogue from there!</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card post-example post-praise rounded-xl my-3 mx-md-5 mx-3">
                                    <div class="card-body">
                                        <div class="post-user d-flex mb-3">
                                            <div class="post-img-wrapper mr-2">
                                                <i class="fas fa-user"></i>
                                            </div>
                                            <div class="post-name">
                                                Anonymous User
                                            </div>
                                        </div>
                                        <div class="post-content">
                                            <p class="m-0">Omg thank you so much for all of this!! I'm probably gonna read over this a fair few times before I go into this with him, just so I'm confident. This has really helped!!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="post-wrapper px-md-5 py-3 mx-md-5 mx-3">
                                <div class="card post-example rounded-xl my-3">
                                    <div class="card-body">
                                        <div class="post-user d-flex mb-3">
                                            <div class="post-img-wrapper mr-2">
                                                <i class="fas fa-user"></i>
                                            </div>
                                            <div class="post-name">
                                                Anonymous User
                                            </div>
                                        </div>
                                        <div class="post-content">
                                            <p><strong>How do I set boundaries?</strong></p>
                                            <p>Here’s the story:</p>
                                            <p>Me, friend A, friend B were friends. B cut us off for a while because they were going through some things and needed space. (We didn’t know that at the time)</p>
                                            <p>B apologized to me, but not A. With reason though, A was never THAT great of a friend to either of us. I honestly shouldn’t be friends with A, but I can’t let go. A and B got in a huge fight before the friendship
                                                breakup- A said terrible things about B after so B didn’t want to contact them.</p>
                                            <p>I’m friends with B again, and it’s absolutely the right decision. They have grown into an absolutely amazing person, while A seems to be getting more selfish.</p>
                                            <p>A said “if B apologized to anyone, it should’ve been me.” Which really made me mad how selfish and narcissistic</p>
                                            <p>A is also friend with someone my ex cheated on me with, might I add. I don’t even really care cause that was so long ago but it’s the same thing. So in their brain, it’s okay to be friends with someone that
                                                hurt me but me being friends with B isn’t. If I’m hurt it’s fine but not A. Hypocrite. A was mad I wanted to be friends with B again and continues to crap talk B.</p>
                                            <p class="m-0">What do I do if I want both of them to be bridesmaids at my wedding? Any advice in general would be great. This is so childish, I can be friends with whoever I want. It has NO effect on A. B is an absolute angel
                                                and I will continue to be friends with them.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card post-example post-response rounded-xl my-3 mx-md-5 mx-3">
                                    <div class="card-body">
                                        <div class="post-user d-flex mb-3">
                                            <img src="https://at-heroku-s3.s3.amazonaws.com/images/at-social-round.original.png" alt="Alexandria Thibodeaux" class="post-img mr-2">
                                            <div class="post-name">
                                                Alexandria Thibodeaux
                                            </div>
                                        </div>
                                        <div class="post-content">
                                            <p>Here’s how I would set this boundary:</p>
                                            <p>Tell them each individually that because you deeply value them and cherish your friendship, you would be honored to have them as a bridesmaid at your wedding. Then tell them that for those same reasons, it would
                                                be meaningful for you to also have [friend A or B, respectively] as a bridesmaid. Also, tell each friend that you only want them to agree to this if their choice to do so feels aligned for them, honors their
                                                integrity, and protects their peace. Assure each friend that you will understand and respect their decision to politely decline if agreeing to be a bridesmaid would negatively impact their well-being (dishonoring
                                                their integrity and hindering their peace). Assure each friend that because their inner-peace is most important to you, your friendship and value of them as your friend will not suffer if they choose to
                                                politely decline.</p>
                                            <p class="m-0">I hope this helps!</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card post-example post-praise rounded-xl my-3 mx-md-5 mx-3">
                                    <div class="card-body">
                                        <div class="post-user d-flex mb-3">
                                            <div class="post-img-wrapper mr-2">
                                                <i class="fas fa-user"></i>
                                            </div>
                                            <div class="post-name">
                                                Anonymous User
                                            </div>
                                        </div>
                                        <div class="post-content">
                                            <p class="m-0">That was beautiful!!! You’re definitely great at what you do!!! 😊</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#socialCarousel" role="button" data-slide="prev">
                    <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
                    <i class="fas fa-chevron-circle-left"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#socialCarousel" role="button" data-slide="next">
                    <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
                    <i class="fas fa-chevron-circle-right"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container my-5">
        <div class="row">
            <div class="col-12 text-center">
                <a href="#pay" class="btn btn-secondary btn-lg btn-shadow">Let's Do This!</a>
            </div>
        </div>
    </div>
</section>

{% endblock %} {% block extra_js %}
<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
</script>
{% endblock %}